In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

def print_hi(name):
    # Use a breakpoint in the code line below to debug your script.
    print(f'Hi, {name}')  # Press Ctrl+F8 to toggle the breakpoint.

def ReadExcelSheet(filePath, sheetIndex):
    df = pd.read_excel(filePath, sheet_name=sheetIndex)
    return df

In [4]:
b1 = ReadExcelSheet(filePath="Files/üç market - tek gün - B1.xlsx",sheetIndex=0)

In [8]:
b1_temp = b1.iloc[:,1:]
b1_temp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,frozenset({1010088}),frozenset({1020001}),1,1,1,1,1,0,inf,0
1,frozenset({1020001}),frozenset({1010088}),1,1,1,1,1,0,inf,0
2,frozenset({1010088}),frozenset({1049977}),1,1,1,1,1,0,inf,0
3,frozenset({1049977}),frozenset({1010088}),1,1,1,1,1,0,inf,0
4,frozenset({1010088}),frozenset({5030185}),1,1,1,1,1,0,inf,0
...,...,...,...,...,...,...,...,...,...,...
523245,frozenset({8035151}),"frozenset({1020001, 1010088, 5030185, 5030701, 8038959, 8038960, 5090032, 8038963, 9035762, 7110327, 1049977})",1,1,1,1,1,0,inf,0
523246,frozenset({8038963}),"frozenset({1020001, 1010088, 5030185, 5030701, 8038959, 8038960, 5090032, 8035151, 9035762, 7110327, 1049977})",1,1,1,1,1,0,inf,0
523247,frozenset({9035762}),"frozenset({1020001, 1010088, 5030185, 5030701, 8038959, 8038960, 5090032, 8035151, 8038963, 7110327, 1049977})",1,1,1,1,1,0,inf,0
523248,frozenset({7110327}),"frozenset({1020001, 1010088, 5030185, 5030701, 8038959, 8038960, 5090032, 8035151, 8038963, 9035762, 1049977})",1,1,1,1,1,0,inf,0
523249,frozenset({1049977}),"frozenset({1020001, 1010088, 5030185, 5030701, 8038959, 8038960, 5090032, 8035151, 8038963, 9035762, 7110327})",1,1,1,1,1,0,inf,0

In [15]:
import ast

# 'frozenset({1020001})' ifadesini stringe dönüştürme
consequents_str = b1_temp["consequents"][0].replace("frozenset({", "[").replace("})", "]")

# String ifadeyi liste yapısına dönüştürme
consequents_list = ast.literal_eval(consequents_str)

print(consequents_list)

[1020001]

In [31]:
b1_temp["edited_productno"] = b1_temp["consequents"].apply(lambda x: ast.literal_eval(x.replace("frozenset({", "[").replace("})", "]")))
b1_temp["edited_productno"] = b1_temp["edited_productno"].apply(lambda x: sorted([int(pro) for pro in x]))

In [52]:
b1_ordered = b1_temp["edited_productno"].value_counts().reset_index().sort_values(by="count", ascending=True).head(3000)

In [55]:
b1_ordered.reset_index(drop=True, inplace=True)

In [61]:
b1_ordered

,edited_productno,count
0,"[1010088, 1020001, 5030185, 5030701, 5090032, 7110327, 8035151, 8038959, 8038960, 8038963, 9035762]",1
1,"[1010088, 1020001, 1049977, 5030185, 5030701, 7110327, 8035151, 8038959, 8038960, 8038963, 9035762]",1
2,"[1010088, 1020001, 1049977, 5030185, 5030701, 5090032, 8035151, 8038959, 8038960, 8038963, 9035762]",1
3,"[1010088, 1020001, 1049977, 5030185, 5030701, 5090032, 7110327, 8035151, 8038959, 8038960, 8038963]",1
4,"[1010088, 1020001, 1049977, 5030185, 5030701, 5090032, 7110327, 8035151, 8038959, 8038960, 9035762]",1
...,...,...
2995,"[1020001, 5030185, 5030701, 7110327, 8038959]",127
2996,"[1010088, 5030185, 5030701, 7110327, 8038959]",127
2997,"[1020001, 5030185, 5030701, 7110327, 8035151]",127
2998,"[1010088, 5030185, 5030701, 7110327, 8035151]",127
2999,"[1020001, 5030185, 5030701, 5090032, 9035762]",127

In [71]:
orders = list()
for order in b1_ordered["edited_productno"]:
    orders.extend(order)

In [73]:
set(orders)

{1010088,
 1020001,
 1049977,
 5030185,
 5030701,
 5090032,
 7110327,
 8035151,
 8038959,
 8038960,
 8038963,
 9035762}

In [75]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

df = b1_ordered


te = TransactionEncoder()
te_ary = te.fit(df['edited_productno']).transform(df['edited_productno'])
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)


# Sonuçları gösterin
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(1010088),(1020001),0.534333,0.535333,0.282333,0.528384,0.987019,-0.003713,0.985265,-0.027467
1,(1020001),(1010088),0.535333,0.534333,0.282333,0.527397,0.987019,-0.003713,0.985324,-0.027524
2,(1010088),(1049977),0.534333,0.537333,0.282667,0.529008,0.984506,-0.004448,0.982324,-0.032691
3,(1049977),(1010088),0.537333,0.534333,0.282667,0.526055,0.984506,-0.004448,0.982532,-0.032896
4,(1010088),(5030185),0.534333,0.569667,0.298000,0.557704,0.979001,-0.006392,0.972954,-0.044033
...,...,...,...,...,...,...,...,...,...,...
189217,(8038960),"(8035151, 5090032, 8038959, 9035762, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189218,(8035151),"(8038959, 5090032, 8038960, 9035762, 8038963, 7110327)",0.574000,0.021000,0.010333,0.018002,0.857253,-0.001721,0.996947,-0.281032
189219,(8038963),"(8035151, 5090032, 8038960, 9035762, 8038959, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189220,(9035762),"(8035151, 5090032, 8038960, 8038959, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189221,(7110327),"(8035151, 5090032, 8038960, 8038959, 8038963, 9035762)",0.573667,0.021000,0.010333,0.018013,0.857752,-0.001714,0.996958,-0.280052

In [79]:
rules[rules["antecedent support"] > 0.5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(1010088),(1020001),0.534333,0.535333,0.282333,0.528384,0.987019,-0.003713,0.985265,-0.027467
1,(1020001),(1010088),0.535333,0.534333,0.282333,0.527397,0.987019,-0.003713,0.985324,-0.027524
2,(1010088),(1049977),0.534333,0.537333,0.282667,0.529008,0.984506,-0.004448,0.982324,-0.032691
3,(1049977),(1010088),0.537333,0.534333,0.282667,0.526055,0.984506,-0.004448,0.982532,-0.032896
4,(1010088),(5030185),0.534333,0.569667,0.298000,0.557704,0.979001,-0.006392,0.972954,-0.044033
...,...,...,...,...,...,...,...,...,...,...
189217,(8038960),"(8035151, 5090032, 8038959, 9035762, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189218,(8035151),"(8038959, 5090032, 8038960, 9035762, 8038963, 7110327)",0.574000,0.021000,0.010333,0.018002,0.857253,-0.001721,0.996947,-0.281032
189219,(8038963),"(8035151, 5090032, 8038960, 9035762, 8038959, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189220,(9035762),"(8035151, 5090032, 8038960, 8038959, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189221,(7110327),"(8035151, 5090032, 8038960, 8038959, 8038963, 9035762)",0.573667,0.021000,0.010333,0.018013,0.857752,-0.001714,0.996958,-0.280052

In [80]:
import pandas as pd
import ast
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

def process_association_rules(df):
    # Sütunları düzenle
    df_temp = df.iloc[:, 1:]
    df_temp["edited_productno"] = df_temp["consequents"].apply(lambda x: ast.literal_eval(x.replace("frozenset({", "[").replace("})", "]")))
    df_temp["edited_productno"] = df_temp["edited_productno"].apply(lambda x: sorted([int(pro) for pro in x]))

    # Düzenlenmiş sütunu alıp işleyin
    df_ordered = df_temp["edited_productno"].value_counts().reset_index().sort_values(by="count", ascending=True).head(3000)
    df_ordered.reset_index(drop=True, inplace=True)

    # MLxtend TransactionEncoder kullanarak veriyi işleyin
    te = TransactionEncoder()
    te_ary = te.fit(df_ordered['edited_productno']).transform(df_ordered['edited_productno'])
    df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

    # Apriori algoritması ile birliktelik kurallarını çıkarın
    frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)

    return rules

In [82]:
b1 = ReadExcelSheet(filePath="Files/üç market - tek gün - B1.xlsx",sheetIndex=0)
d1 = ReadExcelSheet(filePath="Files/üç market - tek gün - D1.xlsx", sheetIndex=0)
d2 = ReadExcelSheet(filePath="Files/üç market - tek gün - D2.xlsx", sheetIndex=0)
koz = ReadExcelSheet(filePath="Files/üç market - tek gün - KOZ.xlsx", sheetIndex=0)
nf1 = ReadExcelSheet(filePath="Files/üç market - tek gün - NF1.xlsx", sheetIndex=0)

In [81]:


process_association_rules(b1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(1010088),(1020001),0.534333,0.535333,0.282333,0.528384,0.987019,-0.003713,0.985265,-0.027467
1,(1020001),(1010088),0.535333,0.534333,0.282333,0.527397,0.987019,-0.003713,0.985324,-0.027524
2,(1010088),(1049977),0.534333,0.537333,0.282667,0.529008,0.984506,-0.004448,0.982324,-0.032691
3,(1049977),(1010088),0.537333,0.534333,0.282667,0.526055,0.984506,-0.004448,0.982532,-0.032896
4,(1010088),(5030185),0.534333,0.569667,0.298000,0.557704,0.979001,-0.006392,0.972954,-0.044033
...,...,...,...,...,...,...,...,...,...,...
189217,(8038960),"(8035151, 5090032, 8038959, 9035762, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189218,(8035151),"(8038959, 5090032, 8038960, 9035762, 8038963, 7110327)",0.574000,0.021000,0.010333,0.018002,0.857253,-0.001721,0.996947,-0.281032
189219,(8038963),"(8035151, 5090032, 8038960, 9035762, 8038959, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189220,(9035762),"(8035151, 5090032, 8038960, 8038959, 8038963, 7110327)",0.573333,0.021000,0.010333,0.018023,0.858250,-0.001707,0.996969,-0.279070
189221,(7110327),"(8035151, 5090032, 8038960, 8038959, 8038963, 9035762)",0.573667,0.021000,0.010333,0.018013,0.857752,-0.001714,0.996958,-0.280052

In [83]:
process_association_rules(d1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(30530006),(30403302),0.5,0.500000,0.249020,0.498039,0.996078,-0.00098,0.996094,-0.007812
1,(30403302),(30530006),0.5,0.500000,0.249020,0.498039,0.996078,-0.00098,0.996094,-0.007812
2,(30530012),(30403302),0.5,0.500000,0.249020,0.498039,0.996078,-0.00098,0.996094,-0.007812
3,(30403302),(30530012),0.5,0.500000,0.249020,0.498039,0.996078,-0.00098,0.996094,-0.007812
4,(30539778),(30403302),0.5,0.500000,0.249020,0.498039,0.996078,-0.00098,0.996094,-0.007812
...,...,...,...,...,...,...,...,...,...,...
11323,(30539778),"(30569697, 31315656, 31605130, 30589997, 30719635)",0.5,0.029412,0.013725,0.027451,0.933333,-0.00098,0.997984,-0.125000
11324,(31315656),"(30569697, 30539778, 31605130, 30589997, 30719635)",0.5,0.029412,0.013725,0.027451,0.933333,-0.00098,0.997984,-0.125000
11325,(31605130),"(30569697, 30539778, 31315656, 30589997, 30719635)",0.5,0.029412,0.013725,0.027451,0.933333,-0.00098,0.997984,-0.125000
11326,(30589997),"(30569697, 30539778, 31315656, 31605130, 30719635)",0.5,0.029412,0.013725,0.027451,0.933333,-0.00098,0.997984,-0.125000
11327,(30719635),"(30569697, 30539778, 31315656, 31605130, 30589997)",0.5,0.029412,0.013725,0.027451,0.933333,-0.00098,0.997984,-0.125000

In [84]:
process_association_rules(d2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(31019956),(31011983),0.5,0.500000,0.246032,0.492063,0.984127,-0.003968,0.984375,-0.03125
1,(31011983),(31019956),0.5,0.500000,0.246032,0.492063,0.984127,-0.003968,0.984375,-0.03125
2,(31040208),(31011983),0.5,0.500000,0.246032,0.492063,0.984127,-0.003968,0.984375,-0.03125
3,(31011983),(31040208),0.5,0.500000,0.246032,0.492063,0.984127,-0.003968,0.984375,-0.03125
4,(31109889),(31011983),0.5,0.500000,0.246032,0.492063,0.984127,-0.003968,0.984375,-0.03125
...,...,...,...,...,...,...,...,...,...,...
1367,(31109889),"(31040208, 31200196, 31109892, 32090023)",0.5,0.055556,0.023810,0.047619,0.857143,-0.003968,0.991667,-0.25000
1368,(31200196),"(31040208, 31109889, 31109892, 32090023)",0.5,0.055556,0.023810,0.047619,0.857143,-0.003968,0.991667,-0.25000
1369,(31109892),"(31040208, 31109889, 31200196, 32090023)",0.5,0.055556,0.023810,0.047619,0.857143,-0.003968,0.991667,-0.25000
1370,(32090023),"(31040208, 31109889, 31200196, 31109892)",0.5,0.055556,0.023810,0.047619,0.857143,-0.003968,0.991667,-0.25000
1371,(31040208),"(31109889, 31200196, 31109892, 32090023)",0.5,0.055556,0.023810,0.047619,0.857143,-0.003968,0.991667,-0.25000

In [85]:
process_association_rules(koz)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(29789924),(29547662),0.408163,0.408163,0.190476,0.466667,1.143333,0.023879,1.109694,0.211823
1,(29547662),(29789924),0.408163,0.408163,0.190476,0.466667,1.143333,0.023879,1.109694,0.211823
2,(31163492),(29547662),0.408163,0.408163,0.190476,0.466667,1.143333,0.023879,1.109694,0.211823
3,(29547662),(31163492),0.408163,0.408163,0.190476,0.466667,1.143333,0.023879,1.109694,0.211823
4,(31180036),(29547662),0.408163,0.408163,0.190476,0.466667,1.143333,0.023879,1.109694,0.211823
...,...,...,...,...,...,...,...,...,...,...
1409,(31163492),"(31321000, 31205161, 31180036, 31180039)",0.408163,0.047619,0.020408,0.050000,1.050000,0.000972,1.002506,0.080460
1410,(31180036),"(31321000, 31205161, 31163492, 31180039)",0.408163,0.047619,0.020408,0.050000,1.050000,0.000972,1.002506,0.080460
1411,(31180039),"(31321000, 31205161, 31163492, 31180036)",0.408163,0.047619,0.020408,0.050000,1.050000,0.000972,1.002506,0.080460
1412,(31321000),"(31205161, 31163492, 31180036, 31180039)",0.503401,0.040816,0.020408,0.040541,0.993243,-0.000139,0.999713,-0.013514
1413,(31205161),"(31321000, 31163492, 31180036, 31180039)",0.503401,0.040816,0.020408,0.040541,0.993243,-0.000139,0.999713,-0.013514